.dashboard {
    display: flex;
    flex-direction: row;

    background-color: #111111;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #3C0F4B; /* Color de fondo acorde al diseño */
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #8731E4; /* Color de borde en línea con el diseño */
    padding: 12px;
    text-align: left;
}

th {
    background-color: #8731E4;
    color: white;
    font-weight: bold;
}

td {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo con transparencia */
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: #3C0F4B;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #8731E4;
    transform: scale(1.05);
}

input, select {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #8731E4;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

h2, h3 {
    color: #8731E4;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 8px;
    }

    button {
        font-size: 12px;
        padding: 8px 12px;
    }
}

.content {
    margin-left: 260px;
    padding: 20px;
    flex-grow: 1;
}



.card:hover {
    background-color: #8731E4;
    transform: scale(1.05);
}

.uploadButton {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #8731e4;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: 72px;
    transition: background-color 0.3s, transform 0.3s;
    width: 150px;
    height: 150px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}


